<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="./static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/style.css">
    <script src="./static/node_modules/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
</head>

<style>
body{
    background-color: black;
    color: #fff;
}
</style>

<body>
<div class = "container">
    <div class="row" style="text-align: center;">
        <h1 style="font-family: 'Exo', Arial, sans-serif;">Twitter NBA Sentiment Analysis</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="nba-stream">
                <div class="card custom-card">
                  <div class="card-block">
                    <h4 class="card-title" style="font-family: Candara, Arial, sans-serif;">NBA Tweets</h4>
                    <p class="card-text" id="stream-text"></p>
                    <span style="font-size: 30px;" id="sentiment"></span>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    var socket = io();
    socket.on('connect', function() {
        console.log('I\'m finally connected')
    });

    socket.on('stream', function(data){
        console.log('Tweet: ' + data.tweet)
        $('#stream-text').html(data.tweet)
        $('#sentiment').text(reaction(data.sentiment))
    })

    function reaction(sentiment){
        switch(sentiment){
            case 'positive':
                return '😀'
                break;
             case 'negative':
                return '😟'
                break;
             case 'neutral':
                return '😐'
                break
        }
    }
</script>